@font-face {
  font-family: Louis;
  src: url(polices/Louis\ George\ Cafe.ttf);
}
@font-face {
  font-family: CocogooseBold;
  src: url(polices/CocogooseBold.ttf);
}
@font-face {
  font-family: champagne;
  src: url(polices/Champagne\ &\ Limousines.ttf);
}
html,
body {
  text-align: center;
  background-color: #000000;
  color: white;
  margin: 0;
  width: auto;
  height: auto;
}
header {
  margin: 0 0 0 0;
}
main {
  width: auto;
  padding-top: 100px;
}
h1 {
  text-align: center;
  padding: 10px;
  font-family: champagne;
  font-size: 40px;
}
h2 {
  text-align: center;
  padding: 10px;
  font-family: champagne;
}
h3 {
  font-family: Louis;
  color: #e5e5e5;
}
p {
  color: white;
  padding: 0 20px;
  font-size: 20px;
  font-family: champagne;
}
a{
  text-decoration: none;
}
/* id pour le logo de la page  */
header img {
  height: 45px;
}
/*  main pour la page accueil avec les produits */
#produit {
  display: inline-block;
  margin: 0 10%;
}
#shop{
  font-size: 35px;
}
.model {
  display: inline-block;
  text-align: center;
  padding: 50px 20px;
}
.model a {
  display: flex;
  justify-content: left;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #800020;
  color: #fff;
  border: none;
  cursor: pointer;
  width: max-content;
  margin: 10px 0;
  border-radius: 5px;
}
.model a:hover {
  display: flex;
  justify-content: left;
  padding: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(85, 0, 0);
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
  transition: 1s;
  transform: scale(1.2);
}
.model a:not(hover){
  display: flex;
  justify-content: left;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #800020;
  color: #fff;
  border: none;
  cursor: pointer;
  width: max-content;
  margin: 10px 0;
  border-radius: 5px;
  transition: 1s;
  transform: scale(1);
}
/* Enlever les aniamtion sur tel */
@media (max-width: 767px) { 
  .model a:hover{
    display: flex;
    justify-content: left;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #800020;
    color: #fff;
    border: none;
    cursor: pointer;
    width: max-content;
    margin: 10px 0;
    border-radius: 5px;
    transition: 1s;
    transform: scale(1);
  }
}
/* images */
img {
  height: 200px;
  border-radius: 5%;
  margin: 20px 0;
}
iframe {
  width: 50%;
}
/* Menu pour toute les pages */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #531818;
  opacity: 1px;
  border-radius: 0 0 20px 20px;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  margin: 0 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li ul li a{
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  margin: 0 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #000000;
}
.buttom-active{
  background: #000000;
}
.nav-links .mobile-item{
  display: none;
  background: #800020;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    display: block;
    font-size: 20px;
    padding: 9px 15px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
/* Main du profil page */
#profilMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
#profilMian ul {
  text-align: left;
  padding: 50px 0;
  padding-inline-start: 0px;
}
#profilMain ul ol {
  padding: 5px 0;
}
#profilMain img {
  border-radius: 100%;
}
#profilMain h2 {
  font-family: futur;
}
/* Bar de progressions */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #800020;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
}
button:hover {
  background-color: #980227;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
  transition: 1s;
  transform: scale(1.2);
}

.progress-container {
  background-color: #ccc;
  height: 20px;
  border-radius: 20px;
  margin-top: 20px;
  margin: 0 20px;
}

.progress-bar {
  width: 0;
  border-radius: 20px;
  height: 100%;
  background-color: #ff0000;
  transition: width 1s;
}

/* main contact */
.contact-main h2 {
  animation: translate 2s ease-in-out infinite;
  color: #ffffff;
  font-family: Futur;
  width:  1px;
  padding: 0 46%;
}
@keyframes translate {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(0px);
  }
}
/* Création d'input, focus, not et invilid */
@keyframes translateMail {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Email */
form{
  margin: 100px 0;
}
#emailInput{
  padding: 15px 200px;
  text-align: center;
  border-radius: 5px;
}
#emailButton {
  background-color: #800020;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
#emailButton:hover{
  background-color: #800020;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
    transform: scale(1.2) 0.5s;

}
#emailButton:not(hover){
  background-color: #800020;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: all 0.5s;
    transform: scale(1) 0.5s;
}

#emailButton.error {
  background-color: #ff0000; /* Rouge */
  animation: shake 0.5s ease-in-out;
}

#emailButton.success {
  background-color: #42fa3f; /* Vert */
}

@keyframes shake {
  0%, 100% {
      transform: translateX(0);
  }
  25%, 75% {
      transform: translateX(-5px);
  }
  50% {
      transform: translateX(5px);
  }
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

iframe{
  margin-bottom: 500px;
  width: 100%;
  border-radius: 10px;
}
.maps{
  justify-content: center;
  width: 100%;
  height: 20%;
  padding: 0 10%;
}
/* Footer */
footer {
  background-color: #2a2a2a;
  color: #fdca40;
  padding: 50px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer h3 {
  display: flex;
  padding: 0;
}
footer .liens-footer {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  color: #eee;
  padding: 0 5%;
  font-size: 20px;
}
footer ul {
  padding: 0 8%;
  list-style-type: none;
}
footer h3 {
  padding: 0;
  text-align: left;
  color: #eee;
}
footer a {
  color: #ffac41;
  border: 0;
  padding: 5px;
}
footer a:hover {
  transition: all 1s;
  border: 0;
  color: #007bff;
}
/* Social "Nos réseaux" */
footer .social-footer {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  color: #eee;
  padding: 0 5%;
  font-size: 20px;
}
.social-footer ul {
  display: flex;
  padding: 0 8%;
  list-style-type: none;
}
.social-footer li {
  padding: 0 5px;
}
/* Animation de rotation infinie */
.social-footer a {
  animation: rotation 2s infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.social-footer a:hover {
  transition: all 1s;
}
.txt-footer {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  color: #eee;
  padding: 0 1%;
  font-size: 20px;
  width: 30%;
}
footer p {
  padding: 0;
  color: #ffac41;
}
@media only screen and (max-width: 768px) {
  footer a:hover {
    transition: all 1s;
    border: 0;
    color: #ffac41;
  }
}
/* barre de chargement mage apparait apres */
ol li{
  padding: 10px;
  margin: 20px 0;
  
}
#profilMain a{
  display: flex;
  justify-content: left;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #800020;
  color: #fff;
  border: none;
  cursor: pointer;
  width: max-content;
  border-radius: 5px;
}
#profilMain a:hover{
  display: flex;
  justify-content: left;
  padding: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(85, 0, 0);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 1s;
  transform: scale(1.2);
}
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #606060;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
  margin: 100px 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  display: none;
  justify-content: center;
  height: 500x;
}

.content img {
  max-width: 200px;
  max-height: 200px;
}
/* Gt3 RS.html */
.model-gt3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5%;
  justify-content: center;
  width: 700px;
  height: 400px;
  border-radius: 20px;
}

.model-gt3 p {
  padding: 10px 0 10px 0;
}

.model-gt3 p a {
  padding: 0 0 0 5px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
}

table {
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
}

th,
td {
  border: 1px solid #800020;
  padding: 12px;
  text-align: center;
}

thead {
  background-color: #800020;
}

tbody tr {
  background-color: #000000;
}

@media only screen and (max-width: 768px) {
  #main-histoire {
    margin: 20px;
    text-align: center;
  }

  table {
    width: 100%;
  }
}
video{
  width: 400px;
}
.model-gt3 .maps{
  width: 700px;
  height: 400px;
}
.contact-main a { 
  padding: 10px 10px;
  font-size: 16px;
  background-color: #800020;
  color: #fff;
  border: none;
  cursor: pointer;
  width: max-content;
  border-radius: 5px;
}